<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget</title>
    <link rel="stylesheet" href="./css/forgetStyle.css">
    <link rel="shortcut icon" href="./image/icon.jpg" type="image/x-icon">
</head>
<body>
    <div class="container">
        <form method="POST" class="forgetBox">
            <div class="textBox">Forget Password</div>
            <span class="des">Enter your email address, that is connect with my Board</span>
            <input type="email" name="email" class="emailId" placeholder="Email or Phone Number">
           <div class="btn">
            <button type="submit"  class="submitBtn">Submit</button>
        </div>
        </form>
    </div> 
</body>
</html>
