<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="./css/signupStyle.css">
    <link rel="shortcut icon" href="./image/icon.jpg" type="image/x-icon">
</head>
<body>
    <div class="container">
        <form method="POST" class="signUpContainer">
          <div class="textBox">Sign Up</div>
          
          <div class="inputContainer">
            
              <input type="text" name="name" class="inputName" placeholder="Enter name">
            
              <input
              type="email"
              name="email"
              class="inputEmail"
              placeholder="Enter your email Address"
            />
            
            <input type="number" name="number" class="contect" placeholder="Enter Phone Number">
    
            <input
              type="password"
              name="password"
              class="inputPass"
              placeholder="Password"
            />
    
            <input
              type="password"
              name="password"
              class="inputConfirmPass"
              placeholder="Confirm Password"
            />
    
          </div>
    <div class="signupBox">
          <button class="signUpBtn">Sign up</button>
          <a href="forget" class="forgetBtn">Forget password?</a>
      </div></form>
      </div>

      <script src="/js/signupScript.js"></script>
</body>
</html>