

*{
  box-sizing: border-box;
}

body ,.container{
  margin: 0;
  height: 100vh;
  width: 100vw;
}


.container{
  background: aquamarine;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, #DECBA4, #3E5151);

}

.loginBox{
  width: 40%;
  height: 60%;
  background-color: #1b262c;
  display: flex;
  margin: 4px;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  box-shadow: 0px 0px 20px #e7e70f;
  border: none;
  border-radius: 8%;
}

.loginBox div{
  width: 80%;
  /* border: 2px solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.textContainer{
  height: 20%;
  font-size: 26px;
  color: white;
}


.inputContainer{
  height: 50%;
}

.inputContainer input{
  width: 70%;
  height: 2.3rem;
  outline: none;
  border: none;
  border-radius: 8%;
  background-color: #f0f0d8;
  font-size: 17px;
}




.signinContainer{
  height: 30%;
}

.forgetBtn{
  font-size: 18PX;
}

.signinBtn{
  width: 50%;
  height: 25%;
}

.signinBtn:hover{
  background-color: red;
  color: #f0f0d8;
}

.signupBtn{
  font-size: 22px;
  text-decoration: none;
}
a{
  color: #f0f0d8;
  font-style:oblique;
}

.isHost:hover ,.select{
  background-color: #4B4B4B;
  color: #f0f0d8;
}

.isActive{
display: block!important;

}

.isHost{
  width: 40%;
}